<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0"
            class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img
                src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYW81aDF5YWh1azM1M2t6ZHZwdTU0NHByN3N2eDNqcHdsbm82aGtmeiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/gYWeVOiMmbg3kzCTq5/giphy.gif"
                alt="Pacman"
                style="width: 100%; height: 100%; object-fit: cover;">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Pacman</h1>
                    <p class="opacity-75">1 Jugador</p>
                    <p><a class="btn btn-lg btn-primary"
                            href="#pacman-section">Ir a</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img
                src="https://i.pinimg.com/originals/07/82/f2/0782f23a1ef9ebd1a668aa9bec3ef752.gif"
                alt="Fast Type"
                style="width: 100%; height: 100%; object-fit: cover;">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Fast Type</h1>
                    <p>1 Jugador</p>
                    <p><a class="btn btn-lg btn-primary"
                            href="#typegame-section">Ir a</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/5/55/Snake_can_be_completed.gif"
                alt="Snake"
                style="width: 100%; height: 100%; object-fit: cover;">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Snake</h1>
                    <p>1 Jugador</p>
                    <p><a class="btn btn-lg btn-primary"
                            href="#snake-section">Ir a</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button"
        data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button"
        data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>