<div class="game-container">
    <canvas #gameCanvas width="400" height="200"></canvas>
  
    <div class="overlay" *ngIf="showNameInput">
      <h2>Insert Coin</h2>
      <input 
        [(ngModel)]="playerName" 
        placeholder="AAAA" 
        maxlength="4" 
        (input)="onNameInput($event)" 
        style="text-transform: uppercase;" />

        <button 
            (click)="startGame()" 
            [disabled]="playerName.length !== 4">
            START
        </button>
    
    </div>
  </div>
  