<div class="row">
    @for (player of topPlayers; track player.name; let i = $index) {
    <div class="col-lg-4" [@playerAnimation]>
        <img
            class="bd-placeholder-img rounded-circle"
            src="/api/placeholder/140/140"
            width="140"
            height="140"
            [alt]="'Top Player ' + (i + 1)">
        <h2 class="fw-normal">{{player.name}}</h2>
        <p>Puntuacion: {{player.score}}</p>
        <p class="position">#{{'123'[i]}}</p>
    </div>
    }
</div>