<hr class="featurette-divider">

@if (isLoading()) {
<div class="text-center my-5">
    <div class="spinner-border">
        <output class="visually-hidden">Loading...</output>
    </div>
</div>
}

@if (!isLoading() && games().length === 0) {
<div class="text-center my-5">
    <p class="lead">No hay juegos disponibles en este momento.</p>
</div>
}

@for (game of games(); track game.id; let i = $index) {
<div [id]="game.name.toLowerCase().replace(' ', '-') + '-section'"
    class="row featurette">
    <div [class]="i % 2 === 0 ? 'col-md-7' : 'col-md-7 order-md-2'">
        <h2 class="featurette-heading fw-normal lh-1">{{ game.name }}
            <span class="text-body-secondary">
                @for (genre of game.genres; track genre.id; let last = $last) {
                {{ genre.name }}{{ !last ? ', ' : '' }}
                }
            </span>
        </h2>
        <p class="lead">{{ game.description }}</p>
        <a [routerLink]="['/' + getRouterPath(game.name)]" class="btn"
            [ngClass]="getButtonClass(i)">
            {{ game.name }}
        </a>
    </div>
    <div [class]="i % 2 === 0 ? 'col-md-5' : 'col-md-5 order-md-1'">
        <img
            [src]="game.imageUrl"
            [alt]="game.name + ' IMG'"
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false">
    </div>
</div>

<hr class="featurette-divider">
}
